In [57]:
import pandas as pd

In [58]:
sections = ["Sec 001-801", "Sec 003-803", "Sec 004-804"]

dfs = []
for section in sections:
    dfs.append(
        {"section": section, "df": pd.read_excel("Group.xlsx", sheet_name=section)}
    )

In [59]:
for (idx, item) in enumerate(dfs):
    df1 = item["df"].iloc[2:, :].copy()
    colsOri = df1.columns.values
    cols = ["group", "group_name", *colsOri[2:]]
    df1.columns = cols
    df1 = df1.reset_index(drop=True)
    dfs[idx]["df1"] = df1

In [60]:
dfs[0]['df1']

,group,group_name,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,1,S1-G01,ชวลิต วงศ์ประเสริฐ,630612047,เสฏฐวุฒิ ลำเลียง,630612174,อภิลักษณ์ สมบูรณ์,630612091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,S1-G02,จิรสิน ฟูแสง,640610288,พีรพร โกศการิกา,630610593,สุพรรณกัลยา ไกรยะถา,630610653,รังสิมันต์ ชุมภู,630610268,อติวิชญ์ เชื้อบุญยืน,630610435,NaN,NaN,NaN,NaN
2,3,S1-G03,ณัฐณิชา รัศมี,630612050,ณัฐธิชา พลอยเหลือง,630612051,ณิชากานต์ วันไชย,630612052,เดชกุล ทิชัย,630612053,ตรีกวินท์ สันดี,630612054,วันเฉลิม ปันละ,630612081,อภิลักษณ์ สมบูรณ์,630612091
3,4,S1-G04,ขันติชัย วรานนท์วนิช,630612041,นาวิน ดวงคำ,630612063,เบญจรัตน์ พรหมสวัสดิ์,630612066,เบญญาภา ศรประสิทธิ์,630612067,ปิ่นมณี เคนศรี,630612070,สุรสิทธิ์ พารา,630612173,NaN,NaN
4,5,S1-G05,ศุภิสรา พงษ์ปวง,630610419,สิริประภัสรา แปลกจริง,630610426,สุกัญรัตน์ นามโคตศรี,630610427,อภิรดา ตะเส,630610437,อัจฉรา โกศลวิทยานันต์,630610441,NaN,NaN,NaN,NaN
5,6,S1-G06,กฤษณะ นุจัตุรัส,630610287,ก้องภพ สมณา,630610288,กัญญาวีร์ แสงมณีวร,630610289,สรัลยยา สุธารสุวรรณ,630610422,อาภาภรณ์ จันบัวลา,630610442,อุทัยทิพย์ ฉางข้าวคำ,630610443,NaN,NaN
6,7,S1-G07,ชนิกา อุ่นตา,630610304,ชลดา แก้วสวัสดิ์วงศ์,630610307,ชาญชนก ทองเปี่ยม,630610308,ฐานุตรา ศิลปศรแก้ว,630610313,วนศักดิ์ ปิงวัง,630610399,ภูรินทร์ มูลลออ,630610389,NaN,NaN
7,8,S1-G08,พงศกร ชำนาญ,630610359,พร คำแสง,630610362,พรนภา ปู่ติ๊บ,630610363,พรรณพฤกษา พรหมมินทร์,630610364,พอเพียง สิทธิศักดิ์,630612072,NaN,NaN,NaN,NaN
8,9,S1-G09,ไวกูณฐ์ แหยมญาติ,630610409,ศุภมาส ศรีสวัสดิ์,630610417,อมรรัตน์ วงศ์ซื่อ,630610439,มอย,630612077,สถาพร ตาบู้,630612085,อารยา อ่วมบุตร,630612092,NaN,NaN
9,10,S1-G10,กัลยรัตย์ พุทธนาวงศ์,630610290,ธริกา โพชสาลี,630610338,ธันวา แก้วถา,630610342,ธีรดา สอนท่าโก,630610343,ธีรภัทร บุตรนุช,630610344,ปัณฑิตตา เวทย์ปัญญา,630610353,NaN,NaN
10,11,S1-G11,ชญานิศ เหมืองจา,630610302,ชนิกานต์ บุญมี,630610305,ชิณภัทร สุขศรีงาม,630610309,ณัฐริกา สังสมานันท์,630610326,พรสุรีย์ ทวีนิธิสิทธิ์,630610365,NaN,NaN,NaN,NaN
11,12,S1-G12,ธนกฤต สมศักดิ์,630610331,ธนภัทร คงปรีชา,630610333,ธนภัทร จเรวรรณ์,630610334,ธรรมนูญ แซ่เจี่ย,630610337,สุเมธ ทัพศรีสวัสดิ์,630610432,NaN,NaN,NaN,NaN

In [61]:
data = []

def process(row, section):
    rowDrop = row.iloc[2:].dropna()

    if rowDrop.shape[0] == 2:
        return None

    group = row.loc["group"]
    group_name = row.loc["group_name"]

    for (idx, item) in enumerate(rowDrop):
        if idx % 2 == 0:
            print(item)
            data.append(
                {
                    "section": section,
                    "group": group,
                    "group_name": group_name,
                    "name": item,
                    "id": rowDrop.iloc[idx + 1],
                }
            )


for item in dfs:
    df1 = item["df1"]
    section = item["section"]
    df1.apply(lambda row: process(row, section), axis=1)

ชวลิต วงศ์ประเสริฐ
เสฏฐวุฒิ ลำเลียง
อภิลักษณ์ สมบูรณ์
จิรสิน ฟูแสง
พีรพร โกศการิกา
สุพรรณกัลยา ไกรยะถา
รังสิมันต์ ชุมภู
อติวิชญ์ เชื้อบุญยืน
ณัฐณิชา รัศมี
ณัฐธิชา พลอยเหลือง
ณิชากานต์ วันไชย
เดชกุล ทิชัย
ตรีกวินท์ สันดี
วันเฉลิม ปันละ
อภิลักษณ์ สมบูรณ์
ขันติชัย วรานนท์วนิช
นาวิน ดวงคำ
เบญจรัตน์ พรหมสวัสดิ์
เบญญาภา ศรประสิทธิ์
ปิ่นมณี เคนศรี
สุรสิทธิ์ พารา
ศุภิสรา พงษ์ปวง
สิริประภัสรา แปลกจริง
สุกัญรัตน์ นามโคตศรี
อภิรดา ตะเส
อัจฉรา โกศลวิทยานันต์
กฤษณะ นุจัตุรัส
ก้องภพ สมณา
กัญญาวีร์ แสงมณีวร
สรัลยยา สุธารสุวรรณ
อาภาภรณ์ จันบัวลา
อุทัยทิพย์ ฉางข้าวคำ
ชนิกา อุ่นตา
ชลดา แก้วสวัสดิ์วงศ์
ชาญชนก ทองเปี่ยม
ฐานุตรา ศิลปศรแก้ว
วนศักดิ์ ปิงวัง
ภูรินทร์ มูลลออ
พงศกร ชำนาญ
พร คำแสง
พรนภา ปู่ติ๊บ
พรรณพฤกษา พรหมมินทร์
พอเพียง สิทธิศักดิ์
ไวกูณฐ์ แหยมญาติ
ศุภมาส ศรีสวัสดิ์
อมรรัตน์ วงศ์ซื่อ
มอย
สถาพร ตาบู้
อารยา อ่วมบุตร
กัลยรัตย์ พุทธนาวงศ์
ธริกา โพชสาลี
ธันวา แก้วถา
ธีรดา สอนท่าโก
ธีรภัทร บุตรนุช
ปัณฑิตตา เวทย์ปัญญา
ชญานิศ เหมืองจา
ชนิกานต์ บุญมี
ชิณภัทร สุขศรีงาม
ณัฐริกา สังสมานันท์
พรสุรีย์ ทวีนิธิสิทธิ์
ธนกฤต สมศักดิ์
ธนภัทร คงปรีชา
ธนภัทร จเรวรรณ์
ธรรมนูญ แซ่เจี่ย
สุเมธ ทัพศรีสวัสดิ์
ขัตติยะ อันไธสง
วัชรพัฐ มงคลเกียรติชัย
วริทธิ์ ตามวงศ์
รัชตะ เด่นเจริญชัย
จิรัชญา น้ำสังข์
สุรวิวรรณ บุญตัน
สายฝน ใจใหญ่
วิริยา ยลพันธ์
วิลาวัลย์ สารตา
วิลาสินี เสมาทอง
ศศิธร นาทสีทา
ศศิวิมล คุปตรัตน์
ทักษ์ดนัย จักรอะโน
ปานชีวา วงศ์ไชย
พิชญ์ชาภา อาทนิตย์
ศุภาพิชญ์ วงค์อิสระ
สุริยา มหาวรรณ์
สิริพัชร สุใจยา
กรกกนก วิทวัสกุล
ธัญชนก แตงทอง
ปทิตตา สืบสกุล
พัสตร์สุ อุเทียม
สงกรานต์ นามแสง
สรินดา ยองเพชร
ธนัชชา จันทร์หล้า
นารากร ประกอบการ
รัตนาสิริ แต่งสง่า
ลีนาลียา เรืองจุติโพธิ์พาน
วงศธร ทิพย์เนตร
วรารัตน์ พรรัตนพิทักษ์
ปัญชิตา เวศนารัตน์
จุฑารัตน์ กุลศรีไชย
ชโรบล สุหร่าย
โชคปวิช เจิมเหล่
ภัทรวิจิตรา ปัญญานำ
รัตติยากร ทำนา
ณัฏฐ์ ส่วนบุญ
ณัฐกิจ รติกรณ์
ณัฐชนน ผัสดี
ภควัต ชื่นวิไลทรัพย์
ภรภัทร บัวบาน
ยศวดี เหมืองหม้อ
วนากานต์ กองสุข
ศุทธินี ทัพผดุง
ธนัญชนก บัวระย้า
พบเก้า สุวรรณวิชนีย์
ปณิธาน รักกะเปา
กิตติศักดิ์ จอมมะเริง
พีรพัฒน์ กมลธง
ศุภณัฐ สุพรศิลป์
โชติทวีกาณษ์ แสนศรี
ณภัทร ทองสนิทกาญจน์
ธนธรณ์ ทิรินทอง
กิตติวรา บัวอินทร์
ณัฏฐ์นิชา อนันต์สลุง
ธัญชนก บัวองค์
จิดาภา โพธิ์จินดา
พิมพ์ลภัส อินทะเทศ
รัศม์ริศา ปลื้มบุญธนานนท์
สุปราณี มากเจริญ
อุ่นจิต ผิวอ่อน
ปิญชาน์พัชร์ เจริญธีรากูล
ปนัดดา กันต๊ะมา
ธัญญะสุตา ปัญญาทา
ฉัตรชัย แซ่หัว
ฉัตย์ธนานนท์ ยิ่งรักชัย
พิมพ์ชนก ชัยวงค์
ณัฐกฤตา เรืองจันที
พัชรพร สรรพ์สุขเติม
ศศลักษณ์ อิศรางกูร ณ อยุธยา
ศิริรัตน์ ไพฑูรย์
กฤติน สุติวงษ์
ณัฐพนธ์  ชิณะวิ
ณิชาภา ภัทรวนนท์
ไตรภพ ก่อพานิชกุล
พิมชนกช์ ภูวปัญญา
ภรณี นัยเนตร
ภัคนันท์ ลัภนะกุล
จุรีพร นันต๊ะเสน
เจษฎาวัฒน์ จันทร์ศิริ
ณมรรษพล สุขดี
ธัญญาพร ทองสุข
คุณัญญา คันธวงค์
สุพัตรา คนแรง
นราวัลย์ จันทร์สิงขรณ์
พิมพกานต์ ดิสา
พิมพ์ชนก ยันตดิลก
เพชรลดา วงษ์กัณหา
เพ็ญพิชชา ทรัพย์ประเสริฐ
ยุพารัตน์ หมื่นพล
พิชญพิมพ์พร เพิ่มบุญมา
พิทูร คำปันติ๊บ
ศิลป์ศุภา เจิมขวัญ
สุณิชา กองคนขวา
ธีรภัทร์ ธินมารมย์
เขมรัฐ กุลาชัย
คัจฉนันทน์ ผดุงกิจ
จักรกฤษณ์ ป้อคำ
สุภัตชา มูลสิงห์
อภิชญา แสงเมือง
อรทัย กลมจี
ปัณณทัต ศรีนนท์
วชิรวิทย์ เตียทวีเกียรติ
วรวัชร ซองเงิน
วรโชติ กระแสกาญจน์
ภัทรานิษฐ์ เจียมเด่นงาม
ศุภิสรา วงค์กาศรี
ณัฐชยา คารินทา
ณัฐนันท์ แสนศรี
ณัฐศิรินทร์ เพ็ชรตา
เนตรชนก ปินคำ
พรห​มพร​ รัตน​วง​ษา
พิชญา นิเกตธนาวรัตน์
นิภาภรณ์ บุญศรี
ธีรทัช วิเศษณัฐ
โชติวร มีบุญ
จิรัฎ เตียร์อุดมทรัพย์
ปัทนาภรณ์ พรหมจุ้ย
อัครเชษฐ์ แก้วนวล
ทัตพงศ์ วงศ์ประเสริฐ
ธนภัทร สุดสาคร
ภูมิภัทร รัตนผล
สกุลรัก มาสมจิตต์
พลวัฒน์ มาลัย

In [62]:
dfAll = pd.DataFrame(data)
display(dfAll)

         section  group group_name                  name         id
0    Sec 001-801      1     S1-G01    ชวลิต วงศ์ประเสริฐ  630612047
1    Sec 001-801      1     S1-G01      เสฏฐวุฒิ ลำเลียง  630612174
2    Sec 001-801      1     S1-G01     อภิลักษณ์ สมบูรณ์  630612091
3    Sec 001-801      2     S1-G02          จิรสิน ฟูแสง  640610288
4    Sec 001-801      2     S1-G02       พีรพร โกศการิกา  630610593
..           ...    ...        ...                   ...        ...
184  Sec 004-804     11     S4-G11  ทัตพงศ์ วงศ์ประเสริฐ  630612157
185  Sec 004-804     11     S4-G11        ธนภัทร สุดสาคร  630612158
186  Sec 004-804     11     S4-G11       ภูมิภัทร รัตนผล  630612167
187  Sec 004-804     11     S4-G11     สกุลรัก มาสมจิตต์  630612084
188  Sec 004-804     11     S4-G11         พลวัฒน์ มาลัย  630612165

[189 rows x 5 columns]

In [63]:
dfReg = pd.read_excel('studentlist_255217.xlsx')

In [64]:
dfReg

     sec     cmu_id        firstname       lastname
0      1  630610268    นายรังสิมันต์          ชุมภู
1      1  630610287         นายกฤษณะ      นุจัตุรัส
2      1  630610288        นายก้องภพ           สมณา
3      1  630610289  นางสาวกัญญาวีร์       แสงมณีวร
4      1  630610290  นางสาวกัลยรัตน์     พุทธนาวงค์
..   ...        ...              ...            ...
198  804  630612176     นายอัครเชษฐ์        แก้วนวล
199  804  630612178     นางสาวชนิสรา       สุยะวารี
200  804  640612046      นายธีรภัทร์      ธินมารมย์
201  804  640612167        นายภูวนาถ  เครือมิ่งมงคล
202  804  640612171      นายสหัสวรรษ     ธาตุอินทร์

[203 rows x 4 columns]

In [65]:
dfAll2 = dfAll.merge(dfReg, left_on='id', right_on='cmu_id', how='left')

In [66]:
dfAll2.isna().any()

section       False
group         False
group_name    False
name          False
id            False
sec           False
cmu_id        False
firstname     False
lastname       True
dtype: bool

In [67]:
dfAll3 = dfAll2.rename(columns={'section': 'lecture'})
dfAll3 = dfAll3[['sec', 'lecture', 'cmu_id','name', 'firstname', 'lastname', 'group_name', 'group']]
dfAll3

,sec,lecture,cmu_id,name,firstname,lastname,group_name,group
0,801,Sec 001-801,630612047,ชวลิต วงศ์ประเสริฐ,นายชวลิต,วงศ์ประเสริฐ,S1-G01,1
1,801,Sec 001-801,630612174,เสฏฐวุฒิ ลำเลียง,นายเสฏฐวุฒิ,ลำเลียง,S1-G01,1
2,801,Sec 001-801,630612091,อภิลักษณ์ สมบูรณ์,นายอภิลักษณ์,สมบูรณ์,S1-G01,1
3,1,Sec 001-801,640610288,จิรสิน ฟูแสง,นายจิรสิน,ฟูแสง,S1-G02,2
4,1,Sec 001-801,630610593,พีรพร โกศการิกา,นางสาวพีรพร,โกศการิกา,S1-G02,2
...,...,...,...,...,...,...,...,...
184,804,Sec 004-804,630612157,ทัตพงศ์ วงศ์ประเสริฐ,นายทัตพงศ์,วงศ์ประเสริฐ,S4-G11,11
185,804,Sec 004-804,630612158,ธนภัทร สุดสาคร,นายธนภัทร,สุดสาคร,S4-G11,11
186,804,Sec 004-804,630612167,ภูมิภัทร รัตนผล,นายภูมิภัทร,รัตนพล,S4-G11,11
187,804,Sec 004-804,630612084,สกุลรัก มาสมจิตต์,นางสาวสกุลรัก,มาสมจิตต์,S4-G11,11
188,804,Sec 004-804,630612165,พลวัฒน์ มาลัย,นายพลวัฒน์,มาลัย,S4-G11,11

In [73]:
filt = dfAll3['lecture'] == 'Sec 001-801'
out1 = dfAll3[filt].sort_values(by=['cmu_id'])

filt = dfAll3['lecture'] == 'Sec 003-803'
out2 = dfAll3[filt].sort_values(by=['cmu_id'])

filt = dfAll3['lecture'] == 'Sec 004-804'
out3 = dfAll3[filt].sort_values(by=['cmu_id'])

out4 = dfAll3.sort_values(by=['lecture','group','cmu_id'])

In [74]:
with pd.ExcelWriter('Group_processed.xlsx') as writer:  
    out1.to_excel(writer, sheet_name='Sec 001-801', index=False)
    out2.to_excel(writer, sheet_name='Sec 003-803', index=False)
    out3.to_excel(writer, sheet_name='Sec 004-804', index=False)
    out4.to_excel(writer, sheet_name='All', index=False)